@{ 
    var Test = "登入";
    var Test2 = "Login";
    var welcomeMessage = "";
    if (Request.Cookies["MemberName"] == null)
    {
        welcomeMessage = "HI，您尚未登入";
    }
    else
    {
        Test = "登出";
        Test2 = "Logout";
        welcomeMessage = "HI，" + Request.Cookies["MemberName"].Value;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/kendo/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.material.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <style type="text/css">
        .myButton {
            color: #9d9d9d !important;
            background-color: transparent !important;
            border: none !important;
            -webkit-box-shadow: none !important;
            margin-top: 8px !important;
        }

        .myButton:hover {
            color: white !important;
            background-color: transparent !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("揪團平台", "Index", "Hall", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.Cookies["MemberName"] != null)
                    {
                        <li><button class="btn-default myButton" style="margin: 5px;" id="test">看別人資料</button></li>
                    }
                </ul>
                <ul class="nav navbar-nav" style="float:right;">
                    <li style="color:white; position:absolute; top:32%; left:68%">@welcomeMessage</li>
                    <li>@Html.ActionLink(Test, Test2, "Hall")</li>
                    @if (Request.Cookies["MemberName"] != null)
                    {
                        <li><button class="btn-default myButton" style="margin: 5px;" id="memberInfo_button">個資</button></li>
                    }
                    else
                    {
                        <li><button class="btn-default" style="margin: 5px; color: #d9e1e8; background-color:#282c37" id="register_button">註冊</button></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div style="margin: 20px;" id="register_form" method="post"></div>
    <div style="padding: 0px;" id="memberInfo_form" method="post"></div>
    <div style="margin:20px;" id="checkInfo_form" method="post"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OOAD 第4組</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/kendoUI")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @*<script src="~/Scripts/layout.js"></script>*@

</body>
</html>
