@{
    ViewBag.Title = "About";
    var list = ViewBag.Test;
    var activity = ViewBag.Activity;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@for (int i = 0; i < list.Count; i++)
{
    <div>
        @list[i].ToString()
    </div>
}
<h3>@activity.ActivityId</h3>
<h3>@activity.ActivityName</h3>
<h3>@ViewBag.CurrentUser</h3>


<p>Use this area to provide additional information.</p>
