@{
    ViewBag.Title = "MemberInfo";

}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<div class="row" style="margin:20px; " method="post" >
    
    <div class="col-md-7">
        <h1>使用者資料</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">帳號</label>
            <input type="text" readonly class="form-control" id="Id" name="MemberId" value="@ViewBag.MemberId">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">新的密碼</label>
            <input type="password" readonly class="form-control" id="Password" name="Password" value="@ViewBag.Password">
        </div>
        <div class="form-group">
            <label for="Name">姓名</label>
            <input type="text" readonly class="form-control" id="Name" name="MemberName" value="@ViewBag.MemberName">
        </div>
        <div class="form-group">
            <label for="Phoone">電話</label>
            <input type="text" readonly class="form-control" id="Phone" name="Phone" value="@ViewBag.Phone">
        </div>
        <div class="form-group">
            <label for="Sexuality">性別</label>
            <input type="text" readonly class="form-control" id="Sexuality" name="Sexuality" value="@ViewBag.Sexuality">
        </div>
        <div class="form-group">
            <label for="Birthday">生日</label>
            <input style="width:200px;" class="form-control" id="Datepicker" name="Birthday" value="@ViewBag.Sexuality" title="birthday" />
        </div>
        <button type="submit" class="btn btn-primary" id="confirm">確定</button>
        <button type="reset" class="btn btn-warning" id="reset">清除</button>
    </div>
    <div class="col-md-5" style="margin-top:20px">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">
                    好友名單
                </li>
                <li>
                    黑名單
                </li>
                <li>
                    好友邀請
                </li>
            </ul>
            <div>
                <div id="friendList"></div>
            </div>
            <div>
                <div id="blackMemberList"></div>
            </div>
            <div>
                <div id="friendInvitation"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/memberInfo.js"></script>


