@{
    var participants = ViewBag.participants;
    var friends = ViewBag.friends;
    var participants_title = "";

    if (Request.Cookies["userName"] == ViewData["ownerId"])
    {
        participants_title = "查看與管理參加者名單";
    }
    else
    {
        participants_title = "查看參加者名單";
    }
}

<style type="text/css">
    #activity_detail {
        width: 100%;
    }

    #info {
        width: 100%;
        margin-bottom: 15px;
    }

    #info p {
        display: inline;
        margin-right: 30px;
    }

    #menu {
        vertical-align: top;
        padding: 0px;
        background-color: #d9e1e8;
    }

    #menu_title {
        text-align: center;
        background-color: #9baec8;
        padding: 5px 0px 5px 0px;
        margin: 0px;
    }

    #menu ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    #menu button {
        height: 50px;
        width: 100%;
        border: 0px;
        color: black;
        background-color: #d9e1e8;
        transition-duration: 0.4s;
    }

    #menu button:hover {
        background-color: #2b90d9;
        color: white;
    }

    #chatroom {
        vertical-align: top;
        padding: 0px 0px 0px 15px;
    }

    #chatroom_title {
        margin-top: 0px;
    }

    #chat_form td {
        width: 100%;
        padding: 0px;
    }

    #chat_content {
        height: 300px;
        border: 1px solid #d9e1e8;
        border-radius: 25px 25px 0px 0px;
        padding: 15px;
    }

    #chat_input {
        min-width: 100%;
        max-width: 100%;
        height: 100%;
    }

    #chat_submit {
        width: 100%;
        height: 100%;
        border: none;
        border: 1px solid #9baec8;
        color: black;
        background-color: #d9e1e8;
    }

    .form button {
        border: 0px;
        color: black;
        background-color: #d9e1e8;
        padding: 3px 10px;
        border-radius: 10px
    }

    .form ul {
        padding: 0px;
        list-style: none;
    }

    .form table {
        width: 100%;
    }

    #manage_form .field {
        margin-bottom: 15px;
    }

    .vertical_align_top, #invalid_msg {
        vertical-align: top;
    }

    #view_participants_form .user_name {
        width: 70%;
    }

    #invite_form .user_name {
        width: 80%;
    }
</style>

<div id="content">
    <!-- 活動資訊 -->
    <div id="info">
        <h1>@ViewData["activity_name"]</h1>
        <p>活動日期: @ViewData["activity_date"]</p>
        <p>目前人數: @ViewData["participants_count"]</p>
    </div>

    <table id="activity_detail">
        <tr>
            <!-- 功能選單 -->
            <td id="menu" class="col-md-3">
                <h3 id="menu_title">功能選單</h3>
                <ul>
                    @if (Request.Cookies["userName"] == ViewData["ownerId"])
                    {
                        <li><button id="manage_button" type="button">管理活動</button></li>
                    }
                    <li><button id="view_participants_button" type="button">@participants_title</button></li>
                    <li><button id="invite_button" type="button">邀請好友</button></li>
                    <li><button id="leave_button" type="button">退出活動</button></li>
                </ul>
            </td>
            <!-- 聊天室 -->
            <td id="chatroom" class="col-md-9">
                <h3 id="chatroom_title">聊天室</h3>
                <div id="chat_content">test</div>
                <form id="chat_form">
                    <table>
                        <tr>
                            <td class="col-md-10">
                                <input type="text" id="chat_input" name="chat_input">
                            </td>
                            <td class="col-md-2">
                                <input type="submit" id="chat_submit" value="送出">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</div>

<!-- 管理活動視窗 -->
<div class="form" id="manage_form">
    <div class="field">
        <label>活動名稱:</label>
        <input type="text" class="input" id="activity_name" name="activity_name" value="" validationMessage="此欄位必填" required>
        <span class="k-invalid-msg" data-for="activity_name"></span>
    </div>
    <div class="field">
        <label>活動人數:</label>
        <input type="text" class="input" id="activity_type" name="activity_type" value="" validationMessage="此欄位必填" required>
        <span class="k-invalid-msg" data-for="activity_type"></span>
    </div>
    <div class="field">
        <label class="vertical_align_top">內容簡介:</label>
        <textarea class="input" id="activity_description" name="activity_description" value="" validationMessage="此欄位必填" required></textarea>
        <span id="invalid_msg" class="k-invalid-msg" data-for="activity_description"></span>
    </div>
    <div class="field">
        <label>活動日期:</label>
        <input type="date" class="input" id="activity_date" name="activity_date" value="" validationMessage="此欄位必填" required>
        <span class="k-invalid-msg" data-for="activity_date"></span>
    </div>
    <button type="submit">更新</button>
</div>

<!-- 查看與管理參加者名單視窗 -->
<div class="form" id="view_participants_form">
    <ul>
        @for (int i = 0; i < participants.Count; i++)
        {
            <li>
                <table>
                    <tr>
                        <td class="user_name"><p>@participants[i].MemberId</p></td>
                        @if (Request.Cookies["userName"] == ViewData["ownerId"] && participants[i].MemberId != Request.Cookies["userName"])
                        {
                            <td><button>轉移房主</button></td>
                            <td><button>踢出</button></td>
                        }
                    </tr>
                </table>
            </li>
        }

        <li>
            <table>
                <tr>
                    <td class="user_name"><p>王小明</p></td>
                    <td><button>轉移房主</button></td>
                    <td><button>踢出</button></td>
                </tr>
            </table>
        </li>
        <li>
            <table>
                <tr>
                    <td class="user_name"><p>林大頭</p></td>
                    <td><button>轉移房主</button></td>
                    <td><button>踢出</button></td>
                </tr>
            </table>
        </li>
        <li>
            <table>
                <tr>
                    <td class="user_name"><p>陳小華</p></td>
                    <td><button>轉移房主</button></td>
                    <td><button>踢出</button></td>
                </tr>
            </table>
        </li>
    </ul>
</div>

<!-- 好友邀請視窗 -->
<div class="form" id="invite_form">
    <ul>
        @for (int i = 0; i < friends.Count; i++)
        {
            <li>
                <table>
                    <tr>
                        <td class="user_name"><p>@friends[i].MemberId</p></td>
                        <td><button>邀請</button></td>
                    </tr>
                </table>
            </li>
        }
        @if (friends.Count == 0)
        {
            <li>您目前沒有好友</li>
        }

        <li>
            <table>
                <tr>
                    <td class="user_name"><p>王小明</p></td>
                    <td><button>邀請</button></td>
                </tr>
            </table>
        </li>
        <li>
            <table>
                <tr>
                    <td class="user_name"><p>林大頭</p></td>
                    <td><button>邀請</button></td>
                </tr>
            </table>
        </li>
        <li>
            <table>
                <tr>
                    <td class="user_name"><p>陳小華</p></td>
                    <td><button>邀請</button></td>
                </tr>
            </table>
        </li>
    </ul>
</div>

<script src="~/Scripts/Room.js"></script>

