@{
    var userId = Request.Cookies["MemberId"].Value;
    var userName = Request.Cookies["MemberName"].Value;
    var activity = ViewBag.activity;
    var participants = ViewBag.participants;
    var friends = ViewBag.friends;
    var participants_title = "";
    var isOwner = false;

    if (userId.ToString() == activity.HomeOwnerId.ToString())
    {
        isOwner = true;
        participants_title = "查看與管理參加者名單";
    }
    else
    {
        participants_title = "查看參加者名單";
    }
}

<style type="text/css">
    #activity_detail {
        width: 100%;
    }

    #info {
        width: 100%;
        margin-bottom: 15px;
    }

    #info p {
        display: inline;
        margin-right: 30px;
    }

    #menu {
        vertical-align: top;
        padding: 0px;
        background-color: #d9e1e8;
    }

    #menu_title {
        text-align: center;
        background-color: #9baec8;
        padding: 5px 0px 5px 0px;
        margin: 0px;
    }

    #menu ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    #menu button {
        height: 50px;
        width: 100%;
        border: 0px;
        color: black;
        background-color: #d9e1e8;
        transition-duration: 0.4s;
    }

    #menu button:hover {
        background-color: #2b90d9;
        color: white;
    }

    #chatroom {
        vertical-align: top;
        padding: 0px 0px 0px 15px;
    }

    #chatroom_title {
        margin-top: 0px;
    }

    #chat_form table {
        width: 100%;
    }

    #chat_form td {
        padding: 0px;
    }

    #chat_content {
        height: 300px;
        border: 1px solid #d9e1e8;
        border-radius: 25px 25px 0px 0px;
        padding: 15px;
    }

    #chat_input {
        min-width: 100%;
        max-width: 100%;
        height: 100%;
    }

    #chat_submit {
        width: 100%;
        height: 100%;
        border: none;
        border: 1px solid #9baec8;
        color: black;
        background-color: #d9e1e8;
    }

    .form button {
        border: 0px;
        color: black;
        background-color: #d9e1e8;
        padding: 3px 10px;
        border-radius: 10px
    }

    .form ul {
        padding: 0px;
        list-style: none;
    }

    .form table {
        width: 100%;
    }

    #manage_form .field {
        margin-bottom: 15px;
    }

    .vertical_align_top, #invalid_msg {
        vertical-align: top;
    }

    #view_participants_form .user_name {
        width: 70%;
    }

    #invite_form .user_name {
        width: 80%;
    }
</style>

<div id="content">
    <!-- 活動資訊 -->
    <div id="info">
        <h1>@activity.ActivityName</h1>
        <p>活動日期: @activity.ActivityDate</p>
        <p>目前人數: @ViewData["participants_count"]</p>
    </div>

    <table id="activity_detail">
        <tr>
            <!-- 功能選單 -->
            <td id="menu" class="col-md-3">
                <h3 id="menu_title">功能選單</h3>
                <ul>
                    @if (isOwner)
                    {
                        <li><button id="manage_button" type="button">管理活動</button></li>
                    }
                    <li><button id="view_participants_button" type="button">@participants_title</button></li>
                    <li><button id="invite_friend_button" type="button">邀請好友</button></li>
                    <li><button id="leave_button" type="button">退出活動</button></li>
                </ul>
            </td>
            <!-- 聊天室 -->
            <td id="chatroom" class="col-md-9">
                <h3 id="chatroom_title">聊天室</h3>
                <div id="chat_content"></div>
                <div id="chat_form">
                    <table>
                        <tr>
                            <td width="80%">
                                <input type="text" id="chat_input" name="chat_input">
                            </td>
                            <td width="20%">
                                <button id="chat_submit" type="button">送出</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- 管理活動視窗 -->
<div class="form" id="manage_form">
    <div class="field">
        <label>活動名稱:</label>
        <input type="text" class="input" id="activity_name" name="activity_name" value="@activity.ActivityName" validationMessage="此欄位必填" required>
        <span class="k-invalid-msg" data-for="activity_name"></span>
    </div>
    <div class="field">
        <label>活動人數:</label>
        <input type="text" class="input" id="activity_people" name="activity_people" value="@activity.NumberOfPeople" validationMessage="此欄位必填" required>
        <span class="k-invalid-msg" data-for="activity_people"></span>
    </div>
    <div class="field">
        <label class="vertical_align_top">內容簡介:</label>
        <textarea class="input" id="activity_description" name="activity_description" validationMessage="此欄位必填" required>@activity.ActivityNote</textarea>
        <span id="invalid_msg" class="k-invalid-msg" data-for="activity_description"></span>
    </div>
    <div class="field">
        <label>活動日期:</label>
        <input type="date" class="input" id="activity_date" name="activity_date" value="@activity.ActivityDate" validationMessage="此欄位必填" required>
        <span class="k-invalid-msg" data-for="activity_date"></span>
    </div>
    <button id="update_button" type="submit">更新</button>
</div>

<!-- 查看與管理參加者名單視窗 -->
<div class="form" id="view_participants_form">
    <ul>
        @for (int i = 0; i < participants.Count; i++)
        {
            <li>
                <table>
                    <tr>
                        <td class="user_name"><p>@participants[i].MemberName</p></td>
                        @if (isOwner && participants[i].MemberId != userId)
                        {
                            <td><button class="transfer_button" value="@participants[i].MemberId">轉移房主</button></td>
                            <td><button class="kick_out_button" value="@participants[i].MemberId">踢出</button></td>
                        }
                    </tr>
                </table>
            </li>
        }
    </ul>
</div>

<!-- 好友邀請視窗 -->
<div class="form" id="invite_form">
    <ul>
        @for (int i = 0; i < friends.Count; i++)
        {
            <li>
                <table>
                    <tr>
                        <td class="user_name"><p>@friends[i].MemberName</p></td>
                        <td><button class="invite_button" value="@friends[i].MemberId">邀請</button></td>
                    </tr>
                </table>
            </li>
        }
        @if (friends.Count == 0)
        {
            <li>您目前沒有好友</li>
        }
    </ul>
</div>

<script src="~/Scripts/Room.js"></script>
<script>
    // 更新活動資訊
    $("#update_button").click(function () {
        var validator = $("#manage_form").kendoValidator().data("kendoValidator");

        var data = {
            activityId: "@activity.ActivityId",
            activityName: $("#activity_name").val(),
            avtivityPeople: $("#activity_people").val(),
            avtivityDescription: $("#activity_description").val(),
            avtivityDate: $("#activity_date").val(),
        };

        if (validator.validate()) {
            $.ajax({
                url: "updateActivity",
                dataType: "json",
                data: data,
                type: "post"
            }).done(function (data) {
                alert(data.responseText);
                location.reload();
            }).fail(function (data) {
                alert(data.responseText);
            });
        }
    });

    // 轉移房主
    $(".transfer_button").click(function () {
        var result = confirm("是否確認要轉移房主權限?");
        if (result) {
            var data = {
                activityId: "@activity.ActivityId",
                newOwnerId: $(this).val(),
            };

            $.ajax({
                url: "TransferHomeowner",
                dataType: "json",
                data: data,
                type: "post"
            }).done(function (data) {
                alert(data.responseText);
                location.reload();
            }).fail(function (data) {
                alert(data.responseText);
            });
        }
    });

    // 踢人
    $(".kick_out_button").click(function () {
        var result = confirm("是否確認要將該參加者踢出?");
        if (result) {
            var data = {
                activityId: "@activity.ActivityId",
                targetId: $(this).val(),
            };

            $.ajax({
                url: "KickOutPariticipant",
                dataType: "json",
                data: data,
                type: "post"
            }).done(function (data) {
                alert(data.responseText);
                location.reload();
            }).fail(function (data) {
                alert(data.responseText);
            });
        }
    });

    // 邀請好友
    $(".invite_button").click(function () {
        var result = confirm("是否確認要邀請該好友?");
        if (result) {
            var data = {
                activityId: "@activity.ActivityId",
                targetId: $(this).val(),
                userName: "@userName",
            };

            $.ajax({
                url: "InviteFriend",
                dataType: "json",
                data: data,
                type: "post"
            }).done(function (data) {
                alert(data.responseText);
                ClearView();
            }).fail(function (data) {
                alert(data.responseText);
            });
        }
    });

    // 退出活動
    $("#leave_button").click(function () {
        var result = confirm("是否確認要退出活動?");
        if (result) {
            var data = {
                activityId: "@activity.ActivityId",
                memberId: "@userId",
            };

            $.ajax({
                url: "LeaveActivity",
                dataType: "json",
                data: data,
                type: "post"
            }).done(function (data) {
                alert(data.responseText);
                window.location.href = "/";
            }).fail(function (data) {
                alert(data.responseText);
            });
        }
    });

    // 發送聊天訊息
    $("#chat_submit").click(function () {
        var content = $("#chat_input").val();
        if (content != "") {
            var data = {
                memberId: "@userId",
                memberName: "@userName",
                activityId: "@activity.ActivityId",
                messageContent: content,
            };

            $.ajax({
                url: "SendMessage",
                dataType: "json",
                data: data,
                type: "post"
            }).done(function (data) {
                $("#chat_input").val("");

                if (data.type != 0) {
                    alert(data.responseText);
                }
            });
        }
    });

    // 更新聊天室
    var timer = setInterval(function () { updateChatroom() }, 1000);

    function updateChatroom() {
        var data = {
            activityId: "@activity.ActivityId",
            memberId: "@userId"
        };

        $.ajax({
            url: "updateChatroom",
            dataType: "json",
            data: data,
            type: "post"
        }).done(function (data) {
            var contents = "";

            for (var i = 0; i < data.responseText.length; i++) {
                contents += "<p>" + data.responseText[i].MemberName + ":" + data.responseText[i].MessageContent + "</p>";
            }

            $("#chat_content").empty();
            $("#chat_content").append(contents);
        }).fail(function (data) {
            $("#chat_content").append("<p>無法連接聊天室</p>");
        });
    }
</script>

